<div class="features-section">
    <div class="card first">
        <img src="../../assets/img/first-featureSectionImage.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">All you need to start</h4>
            <p class="card-subtitle mb-2 text-muted">Add WooCommerce plugin to any WordPress site and set up a new store
                in minutes.</p>
            <a href="#">Ecommerce for Wordpress&#62;</a>
        </div>
    </div>
    <div class="card second">
        <img src="../../assets/img/second-featureSectionImage.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">Customize and Extend</h4>
            <p class="card-subtitle mb-2 text-muted">From subscriptions to gym classes to luxury cars, WooCommerce is fully customizable.</p>
            <a href="#">Browse Extensions&#62;</a>
        </div>
    </div>
    <div class="card third">
        <img src="../../assets/img/third-featureSectionImage.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title">Active Community</h4>
            <p class="card-subtitle mb-2 text-muted">WooCommerce is one of the fastest-growing eCommerce communities.</p>
            <a href="#">Check our Forums&#62;</a>
        </div>
    </div>
</div>